# Copie este arquivo para um novo arquivo chamado .env e preencha os valores.

# Chave mestra JWT para autenticação (Troque por algo seguro em produção)
JWT_SECRET=super_secret_jwt_key_for_fakestore_proxy_app

# URL do Banco de Dados (SQLite)
# Para desenvolvimento local, o caminho file:./dev.db aponta para a raiz da pasta backend
DATABASE_URL="file:./dev.db"
